<div class="pk">
    <img src="https://cdn.shopify.com/s/files/1/0716/7315/1643/files/PKname.png?v=1755582072">
  </div>
  <div class="page-content">
  <div class="text-content">
    <p class="sub-headline">THE FIRST COLORFUL LITTER BOX COVER!</p>
    <p class="h1">Private Kitty is a stylish and eco-friendly way to cover your kitty's litter box. Private Kitty is made out of paper, completely recyclable and comes in a styled print design.</p>
  </div>
  <div class="box">
    <p class="row1">DIMENSIONS
    <p class="row2">18" X 14" X 5"
  <div class="image-content">
    <!-- Replace with your actual image URLs -->
    <img src="https://cdn.shopify.com/s/files/1/0716/7315/1643/files/PK_box.png?v=1755716563" alt="Diagram of the litter box cover dimensions" style="margin-bottom: 20px;">
  </div>
</div>
